/*Linkdin Shayan Shah*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

.container{
    width: 100%;
    height: 100vh;  
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('image1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 90%;
    max-width: 450px;
    min-width: 350px;
    background: white;
    padding: 55px;
    text-align: center;
    border-radius: 10px;
    box-shadow: -2px 2px 15px rgba(0,0,0, 0.5);
}

.form-box h1{
    font-size: 30px;
    color: green;
}

.form-box .underline{
    width: 30px;
    height: 4px;
    background: green;
    margin: 10px auto 50px auto;
    border-radius: 5px;
    transition: transform .5s;
}


.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-height: 60px;
    transition: max-height 0.5s;
    overflow: hidden;
}

.input-field input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #9999;

}

form p{
    text-align: left;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: green;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    background: green;
    color: white;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
     cursor: pointer;
     transition: background 1s;
}

.input-group{
    height: 280px;
}

button.disable{
    background: #eaeaea;
    color: #5555;
}